@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
    themes: light --default;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('woff2');
}

/* variables */
:root {
    --font-size: 18px;
    --font-color: #616161;
    --font-family: 'Geist', sans-serif;

    --c1: #fa7166;
    --c2: #faceca;
    --c3: #ad0d02;

    --c1-shadow:
        rgba(250, 113, 102, 0.5) 0px 10px 25px -5px, rgba(250, 113, 102, 0.5) 0px 8px 10px -5px;
}

/* defaults */
html,
body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    min-height: 100vh;
}

/* overrides */
.input,
input {
    @apply font-(--font-size) text-(--font-color) placeholder-gray-400 ring-0 outline-none focus-within:border-gray-300;
}

.input .icon {
    @apply opacity-50;
}

.btn {
    @apply text-base font-normal text-(--font-color) ring-0 outline-none;
}

.content-wrapper {
    @apply mx-auto max-w-200 p-4;
}
