@reference 'tailwindcss';

.content-wrapper {
    @apply p-0;
}

.camera-view {
    @apply relative h-[240px] w-full;
}

.video {
    @apply absolute h-full w-full object-cover;
}

.top-overlay {
    @apply pointer-events-none absolute inset-x-0 top-0 z-20 flex items-center justify-between px-4 py-2;
}

.brand-logo {
    @apply flex items-center gap-3;
}

.brand-text {
    @apply text-sm leading-none font-medium text-gray-200 sm:text-base;
}

.cabcon-code {
    @apply text-base font-medium whitespace-nowrap text-white sm:text-lg;
}

.scan-guide {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-[50%];

    width: calc(100% - 40px);
    height: 100px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        inset: 0;
    }

    &:before {
        background:
            linear-gradient(#fff, #fff) top left / 25px 3px no-repeat,
            linear-gradient(#fff, #fff) top left / 3px 25px no-repeat,
            linear-gradient(#fff, #fff) bottom right / 25px 3px no-repeat,
            linear-gradient(#fff, #fff) bottom right / 3px 25px no-repeat;
    }

    &:after {
        background:
            linear-gradient(#fff, #fff) top right / 25px 3px no-repeat,
            linear-gradient(#fff, #fff) top right / 3px 25px no-repeat,
            linear-gradient(#fff, #fff) bottom left / 25px 3px no-repeat,
            linear-gradient(#fff, #fff) bottom left / 3px 25px no-repeat;
    }
}

.bottom-overlay {
    @apply absolute bottom-0 flex w-full justify-between gap-2 px-4 py-2 text-xs text-white;
}

.error-message {
    @apply pointer-events-none absolute bottom-18 left-1/2 z-50 max-w-[320px] min-w-[240px] -translate-x-1/2 transform rounded-xl bg-red-500/95 px-6 py-3 text-center text-sm font-medium text-white shadow-lg backdrop-blur-md;
}
